.FormNewUser
  @include GeneralFormStyle
  font-size: 1.8rem
  @media (max-width: 750px)
    font-size: 1.3rem


.LabelNewUser
  font-size: 1.8rem
  margin-right: 10px
  @media (max-width: 750px)
    1.3rem

.TitleAdminNewUser
  font-size: 2.5rem


.FormNewUserGeneral
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  height: 100%
  font-family: $FirstPolice


.BlocNewUser
  height: 100%
  display: flex
  flex-direction: column

.TitleAdminNewUser
  margin-bottom: 15px