/* Global style of the page*/
.ConnectionPage
  background-color: $colorFirst
  height: 69vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column


.LabelUser, .PasswordUser, .ConnectionValidate
  display: flex

/* Style of the page title*/

.ConnectionTitle
  font-size: 50px
  font-style: bold
  font-family: $SecondPolice



/* Form style */

.PasswordUser, .LabelUser
  font-size: 32px
  font-family: $FirstPolice

#user, #password
  height: 42px
  width: 280px
  background-color: $colorBack
  font-size: 32px


/*Button Style*/

.ConnectionValidate
  justify-content: center
  margin-top: 50px
  

.ConnectionButton
  height: 43px
  width: 191px
  background-color: $colorButton