/* COLOR */
/* Police */
/* Mixin header */
/*Mixin form style */
/* Home Page */
body {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  text-decoration: none;
}

@media (max-width: 750px) {
  body {
    width: 100%;
  }
}

.LinkMenu {
  text-decoration: none;
  color: #0097e6;
}

.HeaderLogo {
  margin-top: 10px;
  margin-left: 50px;
  width: 30vw;
}

@media (max-width: 850px) {
  .HeaderLogo {
    width: 50vw;
    margin-bottom: 10px;
  }
}

.Footer {
  background-color: #C4C4C4;
  text-align: center;
}

.DBLogo {
  width: 150px;
  height: 70px;
}

@media (max-width: 750px) {
  .DBLogo {
    width: 100px;
    height: 50px;
  }
}

.MainBack {
  background-color: #408CB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65vh;
  margin-bottom: 5px;
}

.MainBloc {
  background-color: #C4C4C4;
  width: 90%;
  height: 80%;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  overflow: auto;
}

/* Global style of the page*/
.ConnectionPage {
  background-color: #408CB7;
  height: 66vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.LabelUser, .PasswordUser, .ConnectionValidate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Style of the page title*/
.ConnectionTitle {
  font-size: 50px;
  font-style: bold;
  font-family: "lato";
}

/* Form style */
.PasswordUser, .LabelUser {
  font-size: 32px;
  font-family: "inter";
}

#user, #password {
  height: 42px;
  width: 280px;
  background-color: #C4C4C4;
  font-size: 32px;
}

/*Button Style*/
.ConnectionValidate {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.ConnectionButton {
  height: 43px;
  width: 191px;
  background-color: #7CB9D5;
}

* {
  margin: 0;
  padding: 0;
}

NavLink {
  text-decoration: none;
}

.AdminMenuList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AdminMenu {
  background-color: #C4C4C4;
  width: 50vw;
  height: 60px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .AdminMenu {
    width: 90vw;
    margin-left: 10px;
  }
}

.AdminMenuItem {
  font-family: "inter";
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .AdminMenuItem {
    font-size: 1rem;
  }
}

.GlobalHeaderAdmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .GlobalHeaderAdmin {
    display: block;
  }
}

.HeaderAdminRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
}

.GlobalHeaderSales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .GlobalHeaderSales {
    display: block;
  }
}

.HeaderSalesRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
}

.SalesMenu {
  background-color: #C4C4C4;
  width: 50vw;
  height: 60px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .SalesMenu {
    width: 90vw;
    margin-left: 10px;
  }
}

.SalesMenuList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SalesMenuItem {
  font-family: "inter";
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .SalesMenuItem {
    font-size: 1rem;
  }
}

.GlobalHeaderFinancial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .GlobalHeaderFinancial {
    display: block;
  }
}

.HeaderFinancialRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
}

.FinancialMenu {
  background-color: #C4C4C4;
  width: 50vw;
  height: 60px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .FinancialMenu {
    width: 90vw;
    margin-left: 10px;
  }
}

.FinancialMenuList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FinancialMenuItem {
  font-family: "inter";
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .FinancialMenuItem {
    font-size: 1rem;
  }
}

.GlobalHeaderDBC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .GlobalHeaderDBC {
    display: block;
  }
}

.HeaderDBCRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
}

.DBCMenu {
  background-color: #C4C4C4;
  width: 50vw;
  height: 60px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .DBCMenu {
    width: 90vw;
    margin-left: 10px;
  }
}

.DBCMenuList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DBCMenuItem {
  font-family: "inter";
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .DBCMenuItem {
    font-size: 1rem;
  }
}

.contButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.onglets {
  background-color: #408CB7;
  border: solid 1.5px #408CB7;
  color: white;
  margin: 1px;
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.activeOnglet {
  background-color: white;
  color: #408CB7;
}

.ValidateButton {
  padding: 10px;
  background-color: #7CB9D5;
  border: solid 1px #C4C4C4;
  margin-top: 25px;
  border-radius: 15px;
  font-size: 1.3rem;
  -webkit-box-shadow: 3px 3px 3px;
          box-shadow: 3px 3px 3px;
  cursor: pointer;
}

.ButtonDeconnection {
  background-color: white;
  font-size: 24px;
  font-family: "inter";
  color: #408CB7;
  border: 1px solid #408CB7;
  border-radius: 15px;
  padding: 5px;
  margin-left: 15px;
}

@media (max-width: 750px) {
  .ButtonDeconnection {
    margin-right: 10px;
  }
}

.HeaderButtonDeco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
}

.salesTable {
  width: 100%;
  font-size: 1.2rem;
}

table input {
  font-size: 1.2rem;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 4px grey;
          box-shadow: 4px 4px 4px grey;
}

@media (max-width: 900px) and (min-width: 600px) {
  table input {
    font-size: 1rem;
  }
}

.Input-data {
  font-size: 16px;
  margin-top: 7px;
  text-align: left;
}

.Input-data input {
  width: 100px;
  text-align: center;
}

.Input-data label {
  display: inline-block;
  width: 500px;
}

.FormNewUser {
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 4px grey;
          box-shadow: 4px 4px 4px grey;
  font-size: 1.8rem;
}

@media (max-width: 750px) {
  .FormNewUser {
    font-size: 1.3rem;
  }
}

.LabelNewUser {
  font-size: 1.8rem;
  margin-right: 10px;
}

.TitleAdminNewUser {
  font-size: 2.5rem;
}

.FormNewUserGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  font-family: "inter";
}

.BlocNewUser {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TitleAdminNewUser {
  margin-bottom: 15px;
}

.HomeStyle {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomeBlocsStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.HomeBloc {
  background-color: #C4C4C4;
  height: 100%;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 8px 8px 15px black;
          box-shadow: 8px 8px 15px black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.8rem;
  padding: 15px;
  text-decoration: none;
  color: #0097e6;
  width: 40%;
}

@media (max-width: 1024px) and (min-width: 750px) {
  .HomeBloc {
    font-size: 1.2rem;
  }
}

@media (max-width: 750px) {
  .HomeBloc {
    font-size: 0.9rem;
  }
}

.HomeBlocFin {
  width: 28%;
  background-color: #C4C4C4;
  height: 100%;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 8px 8px 15px black;
          box-shadow: 8px 8px 15px black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.8rem;
  padding: 15px;
  text-decoration: none;
  color: #0097e6;
}

@media (max-width: 1024px) and (min-width: 750px) {
  .HomeBlocFin {
    font-size: 1.2rem;
  }
}

@media (max-width: 750px) {
  .HomeBlocFin {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .HomeBlocFin {
    width: 24%;
  }
}

.HomeMessage {
  font-size: 2rem;
  width: 70%;
  text-align: center;
}

@media (max-width: 1024px) and (min-width: 800px) {
  .HomeMessage {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .HomeMessage {
    font-size: 1rem;
  }
}

.TitleHome {
  font-size: 2.5rem;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .TitleHome {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  .TitleHome {
    font-size: 0.8rem;
  }
}

.AccountStyle {
  font-size: 1.8rem;
  height: 90%;
}

.Acc {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=style.css.map */