body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contButton{
    display: flex;
    justify-content:space-around;
}
.onglets{
    background-color: #408CB7;
    border: solid;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.active {
    background-color: rgb(255, 255, 255);
    color: #408CB7;
}